.gasStation-container{
    height: 100%;
    width: 100%;
    background-size: 100% auto;
    background-position: center;
    background-image: url(https://i.pinimg.com/originals/f2/69/30/f2693050e8c3559ed8345f868a495a99.jpg);
}